body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  background-color: #2b2b2b;
  padding: 30px;
  text-align: center;
}
main {
  text-align: center;
}
footer {
  background-color: #2b2b2b;
  padding: 20px;
  text-align: center;
}
#lagu {
  background-color: white;
  align-content: center;
}
#artikel {
  background-color: yellow;
  padding: 30px;
  text-align: center;
  font-weight: bold;
}
